*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "subway";
    src: url(../font/subway.ttf);
}
body{
    padding: 0 15px 0 0px;
    width: 100%;
    background-color: black;
}
/* /////////////////////////
////////NAV FIXED////////
///////////////////////// */
.navbar{
    width: 100%;
    height: 100px;
    background-color: #009201;
    position: fixed;
    top: 0;
    z-index: 99;
}
#tituloPersonalizado{
    color: #fec400;
    font-size: 13pt;
}
#nombrePersonalizado{
    color: #fe8500;
    font-family: "subway", serif;
    font-size: 18pt;
}

/* ///////////////////////////// */

/* ///////////////////////////////////////////
////////OVERLAYS PARA LOGIN Y PRECIOS////////
//////////////////////////////////////////// */

.overlay{
    z-index: 15;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    visibility: hidden;
}
#divOverlay{
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    height: 280px;
    background-color: #66006e;
    padding: 20px;
    top: 400px;
}
#divOverlay h2{
    color: #fec400;
    font-family: "subway", serif;
    font-size: 50pt;
}
#divOverlay h3{
    color: #fec400;
}
#inputNombre{
    text-align: center;
    font-family: "subway", serif;
    font-size: 20pt;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#botonConfirmar{
    padding: 8px;
    width: 60%;
    margin: 10px;
    background-color: #009201;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16pt;
}
#botonConfirmar:hover{
    background-color: #00611c;
    cursor: pointer;
}
/* /////////////////////////////
/////////////////////////////// */

#overlayPrecios{
    z-index: 16;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    visibility: hidden;
}
#divListaDePrecios{
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    width: 490px;
    height: 450px;
    background-color: #66006e;
    padding: 20px;
    top: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divListaDePrecios h2{
    color: #fec400;
    font-family: "subway", serif;
    font-size: 40pt;
}
#btnSalirPrecios{
    padding: 8px;
    width: 80%;
    margin: 10px;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16pt;
}
#btnSalirPrecios:hover{
    background-color: rgba(255, 0, 0, 0.719);
    cursor: pointer;
}
#estiloParaBotonPrecio{
    width: 100%;
    display: flex;
    justify-content: center;
}
#btnListaDePrecios{
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12pt;
    color: white;
    background-color: teal;
    border-radius: 20px;
}
#btnListaDePrecios:hover{
    background-color: rgba(0, 128, 128, 0.726);
    cursor: pointer;
}

#overlayTotal{
    z-index: 16;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#divTotalOverlay{
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    width: 600px;
    height: 350px;
    background-color: #66006e;
    padding: 20px;
    top: 400px;
}

#divTotal h2{
    color: #fec400;
    font-family: "subway", serif;
    font-size: 40pt;
}

#estiloParaBotonRecargar{
    width: 100%;
    display: flex;
    justify-content: center;
}

#btnRecargar{
    padding: 8px;
    width: 80%;
    margin: 10px;
    background-color: #009201;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16pt;
}
#btnRecargar:hover{
    background-color: #009200c2;
    cursor: pointer;
}

#tituloFinal{
    color: #fe8500;
    font-size: 25pt;
}

#tituloFinalSaludo{
    color: #fec400;
    font-size: 18pt;
    font-style: italic;
}
/* ///////////////////////////// */

.btnAgregarQueso{
    padding: 10px;
    margin: 10px;
    background-color: #fec400;
    border-radius: 15px;
    border: none;
    color: black;
    font-size: 16pt;
    text-align: center;
}

.probandoHoverEnJQuery{
    background-color: red;
    color: white;
}
.eliminarVegetal:hover{
    background-color: red;
    color: white;
    transition: 1s;
}

.btnAgregarQueso:hover{
    background-color: #fec300cb;
    cursor: pointer;
}




#contenido{
    margin-top: 130px;
}



#cajaImgSandwich{
    background-image: url(../img/fondo_madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgPan{
    z-index: 1;
    bottom: 50px;
}

#imgProteina{
    z-index: 2;
    bottom: 70px;
}

#cajaImgSandwich img {
    width: 350px;
    position: absolute;
}

.pasosFila{
    width: 501px;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.pasosColumna{
    width: 167px;
    text-align: center;
    color: #66006e;
    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 167px;
    background-color: #fec400;
}

#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #fec400;
}

#divSeleccionIngredientes{
    background-color: #66006e;
    border-radius: 0 0 25px 25px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#divDetalledePedido{
    text-align: center;
    visibility: hidden;
}

#formPedido{
    text-align: center;
    position: absolute;
    top: 0;
    left: 15px;
    transition: 0.5s;
}

#formDatosPersonales{
    text-align: center;
    width: 500px;
    position: absolute;
    top: 0;
    left: 700px;
    transition: 0.5s;
}

#formDetalle{
    text-align: center;
    width: 500px;
    position: absolute;
    top: 0;
    left: 700px;
    transition: 0.5s;
}

#tituloDetalle, #tituloPedido, #tituloDatosPersonales{
    color: #fe8500;
    font-family: "subway", serif;
    font-size: 40pt;
}

#formDetalle, #formPedido, #formDatosPersonales{
    margin: 30px 0 30px 0;
    color: #fec400;
    font-size: 16pt;
}

li{
    list-style: none;
}

.activo{
    visibility: visible;
}

.desactivado{
    display: none;
}

@media screen and (max-width: 576px) {
    #cajaImgSandwich {
        height: 400px;
    }
    .navbar img {
        width: 300px;
    }
}

/* ANIMACIONES */

#tituloFinal, #tituloFinalSaludo{
    animation-name: saludoFinal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s; 
}

@keyframes saludoFinal {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;

    } 
}

#cajaImgSandwich img{
    animation-name: animaIngredientes;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s; 
}

@keyframes animaIngredientes {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    100% {
        opacity: 1;

    } 
}