*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "subway";
    src: url(../font/subway.ttf);
}

body{
    background-color: black;
}

#tituloPersonalizado{
    color: #fec400;
    font-size: 13pt;
}

#nombrePersonlizado{
    color: #fe8500;
    font-family: "subway", serif;
    font-size: 18pt;
}

#contenido{
    margin-top: 130px;
}

#cajaImgSandwich{
    background-image: url(../img/fondo_madera.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 500px;
}

#imgPan{
    z-index: 1;
    position: absolute;
    bottom: 50px;
    left: 220px;
}

#imgProteina{
    z-index: 2;
    position: absolute;
    bottom: 70px;
    left: 220px;
}

.overlay{
    z-index: 15;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#divOverlay{
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    height: 280px;
    background-color: #66006e;
    padding: 20px;
    top: 400px;
}

#divOverlay h1{
    color: #fec400;
    font-family: "subway", serif;
    font-size: 50pt;
}

#divOverlay h3{
    color: #fec400;
}

#botonConfirmar{
    margin: 20px 0 15px 0;
}

#inputNombre{
    text-align: center;
    font-family: "subway", serif;
    font-size: 20pt;
}

.activo{
    visibility: visible;
}